<a href="https://colab.research.google.com/github/BaptisteZloch/Weather_forcasting/blob/main/Weather_forcasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [104]:
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
import pandas as pd

In [115]:
#importing CSV file
#Reading file

df = pd.read_csv('/content/weather_2.csv',sep=";") #store our dataFrame into Df
df.head()

   MinTemp  MaxTemp  Rainfall  ...  RainToday RISK_MM RainTomorrow
0      8.0     24.3       0.0  ...          0     3.6            1
1     14.0     26.9       3.6  ...          1     3.6            1
2     13.7     23.4       3.6  ...          1    39.8            1
3     13.3     15.5      39.8  ...          1     2.8            1
4      7.6     16.1       2.8  ...          1     0.0            0

[5 rows x 19 columns]

In [121]:
df = df[["MinTemp","MaxTemp","Rainfall","Sunshine","WindDir9am","WindDir3pm","WindSpeed9am","WindSpeed3pm","Humidity9am","Humidity3pm","Pressure9am","Pressure3pm","Cloud9am","Cloud3pm","Temp9am","Temp3pm","RainToday","RainTomorrow"]]

df["MinTemp"] = df["MinTemp"].astype(np.float64)
df["MaxTemp"] = df["MaxTemp"].astype(np.float64)
df["Rainfall"] = df["Rainfall"].astype(np.float64)
df["Sunshine"] = df["Sunshine"].astype(np.float64)
df["WindDir9am"] = df["WindDir9am"].astype(np.str)
df["WindDir3pm"] = df["WindDir3pm"].astype(np.str)
df["WindSpeed9am"] = df["WindSpeed9am"].astype(np.float64)
df["WindSpeed3pm"] = df["WindSpeed3pm"].astype(np.float64)
df["Humidity9am"] = df["Humidity9am"].astype(np.float64)
df["Humidity3pm"] = df["Humidity3pm"].astype(np.float64)
df["Pressure9am"] = df["Pressure9am"].astype(np.float64)
df["Pressure3pm"] = df["Pressure3pm"].astype(np.float64)
df["Cloud9am"] = df["Cloud9am"].astype(np.float64)
df["Cloud3pm"] = df["Cloud3pm"].astype(np.float64)
df["Temp9am"] = df["Temp9am"].astype(np.float64)
df["Temp3pm"] = df["Temp3pm"].astype(np.float64)
df["RainToday"] = df["RainToday"].astype(np.int64)
df["RainTomorrow"] = df["RainTomorrow"].astype(np.int64)

df.head()

   MinTemp  MaxTemp  Rainfall  ...  Temp3pm RainToday RainTomorrow
0      8.0     24.3       0.0  ...     23.6         0            1
1     14.0     26.9       3.6  ...     25.7         1            1
2     13.7     23.4       3.6  ...     20.2         1            1
3     13.3     15.5      39.8  ...     14.1         1            1
4      7.6     16.1       2.8  ...     15.4         1            0

[5 rows x 18 columns]

Let's randomly shuffle the dataset by splitin it into a train set and a test set used to validate our model.

Train set = 85%

Test set = 15%


We do it by importing train_test_split from the Scikit-learn ML library.

In [122]:
#suffling data
from sklearn.model_selection import train_test_split

data_train ,data_test = train_test_split(df,test_size=0.15)

print("train set size : {}\ntest set size : {}".format(data_train.shape,data_test.shape))

train set size : (311, 18)
test set size : (55, 18)

In [123]:
data_train.head()

     MinTemp  MaxTemp  Rainfall  ...  Temp3pm RainToday RainTomorrow
221      7.4     16.3       0.0  ...     14.5         0            1
218      4.4     16.7       0.0  ...     16.2         0            0
27      12.9     28.0       0.0  ...     26.7         0            0
281      3.1     12.5       1.2  ...     11.3         1            0
192      8.3     17.4       0.0  ...     17.2         0            0

[5 rows x 18 columns]

Now we're going to extract our label from out data. We will select also the interesting columns by removing the labels.

In [124]:
tomorrow_label = data_train.pop('RainTomorrow')
today_label = data_train.pop('RainToday')
today_test_label = data_test.pop('RainToday')
tomorrow_test_label = data_test.pop('RainTomorrow')



#data_train = data_train[["MinTemp","MaxTemp","Rainfall","Sunshine","WindDir9am","WindDir3pm","WindSpeed9am","WindSpeed3pm","Humidity9am","Humidity3pm","Pressure9am","Pressure3pm","Cloud9am","Cloud3pm","Temp9am","Temp3pm"]]
#data_test = data_test[["MinTemp","MaxTemp","Rainfall","Sunshine","WindDir9am","WindDir3pm","WindSpeed9am","WindSpeed3pm","Humidity9am","Humidity3pm","Pressure9am","Pressure3pm","Cloud9am","Cloud3pm","Temp9am","Temp3pm"]]

data_train = data_train[["MinTemp","MaxTemp","Rainfall","Sunshine","WindSpeed9am","WindSpeed3pm","Humidity9am","Humidity3pm","Pressure9am","Pressure3pm","Cloud9am","Cloud3pm","Temp9am","Temp3pm"]]
data_test = data_test[["MinTemp","MaxTemp","Rainfall","Sunshine","WindSpeed9am","WindSpeed3pm","Humidity9am","Humidity3pm","Pressure9am","Pressure3pm","Cloud9am","Cloud3pm","Temp9am","Temp3pm"]]

We have to convert our data frame into a numpy array which is the only array taken by DNN.

In [125]:
data_train = np.array(data_train, dtype=np.float)
data_test = np.array(data_test, dtype=np.float)

today_label = np.array(today_label)
tomorrow_label = np.array(tomorrow_label)
today_test_label = np.array(today_test_label)
tomorrow_test_label = np.array(tomorrow_test_label)

from keras.utils import to_categorical
tomorrow_test_label=to_categorical(tomorrow_test_label)
today_test_label=to_categorical(today_test_label)

tomorrow_label=to_categorical(tomorrow_label)
today_label=to_categorical(today_label)

In [149]:
model_today = tf.keras.Sequential([
        tf.keras.layers.Dense(64,input_shape=(14,)),
        tf.keras.layers.Dense(2, activation="sigmoid")
])

model_today.summary()

model_today.compile(optimizer='adam',
                  loss='binary_crossentropy',
                  metrics=['accuracy'])

hist = model_today.fit(x = data_train, y=today_label,epochs=100)

Epoch 1/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8195
Epoch 2/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8029
Epoch 3/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8338
Epoch 4/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8041
Epoch 5/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8312
Epoch 6/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8103
Epoch 7/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8376
Epoch 8/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8268
Epoch 9/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8072
Epoch 10/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8255
Epoch 11/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8008
Epoch 12/100
10/10 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.8175
Epoch 13/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7977
Epoch 14/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7875
Epoch 15/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8047
Epoch 16/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8026
Epoch 17/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8117
Epoch 18/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8161
Epoch 19/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8281
Epoch 20/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8184
Epoch 21/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8091
Epoch 22/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7776
Epoch 23/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7895
Epoch 24/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8010
Epoch 25/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8275
Epoch 26/100
10/10 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.8153
Epoch 27/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8070
Epoch 28/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7752
Epoch 29/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7971
Epoch 30/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8025
Epoch 31/100
10/10 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.8124
Epoch 32/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8040
Epoch 33/100
10/10 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7891
Epoch 34/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7984
Epoch 35/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7830
Epoch 36/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8247
Epoch 37/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8258
Epoch 38/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8231
Epoch 39/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8278
Epoch 40/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8189
Epoch 41/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8201
Epoch 42/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8205
Epoch 43/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958
Epoch 44/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8166
Epoch 45/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8527
Epoch 46/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7813
Epoch 47/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8164
Epoch 48/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8158
Epoch 49/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8092
Epoch 50/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7719
Epoch 51/100
10/10 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.8157
Epoch 52/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8257
Epoch 53/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8010
Epoch 54/100
10/10 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.8280
Epoch 55/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8382
Epoch 56/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8293
Epoch 57/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8270
Epoch 58/100
10/10 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.8017
Epoch 59/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8208
Epoch 60/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7923
Epoch 61/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7781
Epoch 62/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8091
Epoch 63/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8165
Epoch 64/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8064
Epoch 65/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7872
Epoch 66/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8154
Epoch 67/100
10/10 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.8305
Epoch 68/100
10/10 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.8487
Epoch 69/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8181
Epoch 70/100
10/10 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7854
Epoch 71/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8408
Epoch 72/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8214
Epoch 73/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8048
Epoch 74/100
10/10 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.8029
Epoch 75/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8097
Epoch 76/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7941
Epoch 77/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7881
Epoch 78/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7966
Epoch 79/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8072
Epoch 80/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8381
Epoch 81/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8220
Epoch 82/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8214
Epoch 83/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8091
Epoch 84/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8262
Epoch 85/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8057
Epoch 86/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8068
Epoch 87/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8264
Epoch 88/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8179
Epoch 89/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8192
Epoch 90/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8063
Epoch 91/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8220
Epoch 92/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8080
Epoch 93/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8080
Epoch 94/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8169
Epoch 95/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8294
Epoch 96/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8090
Epoch 97/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8150
Epoch 98/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8156
Epoch 99/100
10/10 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.8202
Epoch 100/100
10/10 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.8299

In [138]:
print(model_today.predict(data_test[[6]]))

[[nan nan]]